/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   doft.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: tfolly <tfolly@student.42.fr>              +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2016/06/13 21:05:15 by tfolly            #+#    #+#             */
/*   Updated: 2016/06/13 23:43:53 by tfolly           ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body{
	background-color: #505050;
}

#header-img{
	border-radius: 10px;
	max-height:96%;
	min-height:96%;
}

#cluster-img{
	margin-top: 1%;
	margin-left: 1%;
	max-width:98%;
	max-height:96%;
	min-width: 98%;
	min-height:96%;
}

#top{
	box-shadow: 5px 5px 6px 4px #0E0E0E;
	border-radius: 10px;
	background-color: #909090;
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
	height: 17%;
}

#left{
	box-shadow: 5px 5px 6px 4px #0E0E0E;
	border-radius: 10px;
	background-color: #909090;
	margin-left: 12%;
	margin-top: 1%;
	width: 140px;
	height: 450px;
	float: left;
}

#center{
	box-shadow: 5px 5px 6px 4px #0E0E0E;
	border-radius: 10px;
	background-color: #909090;
	margin-left: 1%;
	margin-top: 1%;
	width: 55%;
	height: 70%;
	float: left;
}

#right{
	box-shadow: 5px 5px 6px 4px #0E0E0E;
	border-radius: 10px;
	background-color: #909090;
	margin-left: 1%;
	margin-top: 1%;
	width: 140px;
	height: 450px;
	float: left;
}

 .icon{
	width:70px;
 	height:70px;
 	margin-top: 10%;
 	display:block;
 	margin-right: auto;
 	margin-left: auto;
 }

#buttons{
	float: right;
	margin-right: .5%;
	height: 100%;
}
#reload{
	position: relative;
	margin-top: 1.5%;
	width: 20px;
	height: 20px;
}

#close{
	display: block;
	vertical-align: bottom;
	margin-bottom: 20px;
	width: 20px;
	height: 20px;
}
 #loupe{
	 position: relative;
	 margin-top: 1%;
	 float: right;
	 z-index: 999999;
 }
